name: My first Workflow

on: push

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Welcome message
        run: echo "My first data in GitHub Actions"
      
      - name: List files
        run: ls
      
      - name: Read file
        run: cat README.md
