name: Generate ASCII

on:
  push:

jobs:
  ascii_job:
    runs-on: ubuntu-latest
    steps:
      - name: checkout Repo
        uses: actions/checkout@v4

      - name: List repo files
        run: ls -al
      
      - name: Executing script
        run: |
          chmod +x ascii-script.sh
          ./ascii-script.sh

